.spaced-search{
    margin-top: 1%;
    margin-bottom: 1%;
}

.articles{
    margin-top: 1%;
    margin-bottom: 1%;
}

#article-1-header, #article-2-header, #article-3-header {
    font-weight: bold;
}

#article-1-author, #article-2-author, #article-3-author {
    font-style: italic;
    font-size: 80%;
}