<h1>Family App</h1>

<nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
    <a class="navbar-brand" routerLink="">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="bea-tracker">Bea Tracker</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="shopping-list">Shopping List</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" routerLink="news">News</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Transclusion -->
<ng-content></ng-content>