<h1>Family App</h1>

<nav class="navbar navbar-dark bg-dark">
    <!-- Navbar content -->
    <a class="navbar-brand" routerLink="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="bea-tracker">Bea Tracker</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="shopping-list">Shopping List</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLink="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sports
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="#">Action</a>
          <a class="dropdown-item" routerLink="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<!-- Transclusion -->
<ng-content></ng-content>