<h2>Shopping List</h2>

  <!-- List group -->
<div class="row">
<div class="col-4">
<div class="list-group" id="myList" role="tablist" *ngFor="let item of testShoppingItems; let i = index">
    <a class="list-group-item list-group-item-action" data-toggle="list" role="tab" href="list-{{item}}">{{ item }}</a>
    <!-- <a class="list-group-item list-group-item-action" data-toggle="list" href="#profile" role="tab">Profile</a>
    <a class="list-group-item list-group-item-action" data-toggle="list" href="#messages" role="tab">Messages</a>
    <a class="list-group-item list-group-item-action" data-toggle="list" href="#settings" role="tab">Settings</a> -->
  </div>
</div>
  
  <!-- Tab panes -->
  <div class="col-8">
  <div class="tab-content" *ngFor="let desc of furtherTestData; let item of testShoppingItems">
    <div class="tab-pane" role="tabpanel" id="list-{{item}}">{{ desc }}</div>
    <!-- <div class="tab-pane" id="profile" role="tabpanel">...</div>
    <div class="tab-pane" id="messages" role="tabpanel">...</div>
    <div class="tab-pane" id="settings" role="tabpanel">...</div> -->
  </div>
</div>

</div>