<h2>Shopping List</h2>

<!-- Adding a new item button -->
<br>
<button id="formReveal" (click)="toggleForm()" class="btn btn-info">Add New Item</button>
<br>
<br>
<!-- Adding a new item form -->
<form [formGroup] = "newItemForm" *ngIf="showForm">
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" formControlName = "itemName" placeholder="Item Name">
    </div>
    <div class="col">
      <input type="text" class="form-control" formControlName = "itemDescription" placeholder="Item Description">
    </div>
  </div>
  <br>
  <button type="button" class="btn btn-success" (click)="onSubmitNewItem()">Add Item</button>
</form>

<br>
<!-- Current List -->
<div class="row">

<!-- List Items -->

<div class="col">
  <ul class="list-group list-group-flush" *ngFor="let item of shoppingData">
    <li class="list-group-item shopping-item" [class.active]="active === item.id" (click)="onClick(item.id)"  [value]="item">
      {{item.itemName}}
    </li>
  </ul>
</div>

<!-- Item Information (if item is clicked) -->

<div class="col">
  <div class="tab-content">
    <div class="tab-panel">
      <p id="shoppingInfo"></p>
    <div id="showButtons" *ngIf="showButtons">
      <button type="button" class="btn btn-success" (click)="showUpdateForm()" id="updateButton">Update</button>
      <button type="button" class="btn btn-danger" (click)="deleteItem(active)">Delete</button>
      <br>
      <br>
    </div>
      <form [formGroup] = "updateItemForm" *ngIf="showUpdateForm2">
            <input type="text" class="form-control" formControlName = "itemName" placeholder="Item Name">
            <input type="text" class="form-control" formControlName = "itemDescription" placeholder="Item Description" id="updatedItem">
        <br>
        <button type="button" class="btn btn-success" (click)="onSubmitUpdateItem(active)">Update Item</button>
      </form>
    </div>
  </div>
</div>

</div>
<br>
<br>

<button type="button" class="btn btn-warning" (click)="closeForms()">Close All Shopping Info</button>