<div class="container">
    <div class="row">
        <div class="col">
            <h1>Welcome to My Family App!</h1>

            <br>

            <h4>Using the navigation bar, you can find:</h4>

            <br>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">Bea Tracker</li>
                <li class="list-group-item">Shopping List</li>
                <li class="list-group-item">News</li>
            </ul>

        </div>
    </div>
</div>