<div class="container">
    <div class="row">
        <div class="col">
            <h1>Welcome to My Family App!</h1>

            <br>

            <h4>Using the navigation bar, you can find:</h4>

            <br>

            <ul class="list-group list-group-flush">
               <li class="list-group-item"> <a routerLink="bea-tracker" class="home-links">Bea Tracker</a></li>
                <li class="list-group-item"><a routerLink="shopping-list" class="home-links">Shopping List</a></li>
                <li class="list-group-item"><a routerLink="news" class="home-links">News</a></li>
            </ul>

        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col">
            <h5>Latest Update:</h5>
            <h6>11-10-2020: UI adjustments; after last update, received good feedback on adjustments and applied them to other components.</h6>
            <br>
            <h6>10-13-2020: UI adjustments; increasing ease of interface after user feedback.</h6>
        </div>
    </div>
</div>